version: '3.8'

services:
  backend:
    build: ./server
    container_name: nexthire-backend
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - MONGODB_URL=${MONGODB_URL}
      - PORT=3000
      - BACKEND_URL=${BACKEND_URL}
      - FRONTEND_URL=${FRONTEND_URL}
    restart: unless-stopped

  frontend:
    build: ./client
    container_name: nexthire-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    restart: unless-stopped